@import "../styles/variables";

.home-block digi-link-button {
  display: block !important;
  width: 100% !important;

  --BACKGROUND--DEFAULT: #{$color-secondary} !important;
  --BORDER-COLOR--DEFAULT: #{$color-primary} !important;
  --BACKGROUND--HOVER: #{$color-secondary} !important;
  --BORDER-COLOR--HOVER: #{$color-third} !important;
  --COLOR--DEFAULT: #{$color-primary} !important;
  --COLOR--HOVER: #{$color-third} !important;

  --PADDING: 3.5rem 4rem !important;
  --FONT-SIZE: 1.3rem !important;
}

h1 {
  color: #{$color-primary};
}

.home-text {
  color: #{$color-primary};
  margin-top: 1rem;
  text-align: center;
  --digi--paragraph-width--medium: 100%;

  h2,
  p {
    margin-bottom: 10px;
  }
}

digi-header-navigation {
  border-bottom: 2px solid #{$color-secondary};
  margin-bottom: 2rem;
}

.column-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
    align-items: start;
    margin-top: 3rem;
    padding-inline: 10vw;

    digi-link-button {
      display: block;
      width: 100%;
      box-sizing: border-box;

      a {
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
      }
    }
}

@media (max-width: 991px) {
  .column-wrapper {
    padding-inline: 0;
  }
  
}

@media (max-width: 767px) {
  .home-block {
    margin-top: 5rem;

    digi-link-button {
    --PADDING: 4rem 1.5rem !important;
    }
  }

  h1 {
    display: none;
  }

  digi-header-navigation {
  border-bottom: 2px solid #{$color-background};
  }

  .column-wrapper {
    grid-template-columns: repeat(1, 1fr);

    a {
      width: 100%;
    }
  }
}
 

