body {
  margin: 0;
  padding: 0;
}
/* digi-layout-container h3,
digi-layout-container p {
  text-align: center;
} */

digi-layout-columns.sc-digi-layout-columns {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
}

digi-link-button {
  display: block !important;
  width: 100% !important;
  margin-top: 3rem;

  --BACKGROUND--DEFAULT: #23262e !important;
  --BORDER-COLOR--DEFAULT: #57a27e !important;
  --BACKGROUND--HOVER: #23262e !important;
  --BORDER-COLOR--HOVER: #d1d5db !important;
  --COLOR--DEFAULT: #57a27e !important;
  --COLOR--HOVER: #fff !important;

  --PADDING: 4.5rem 5rem !important;
  --FONT-SIZE: 1.3rem !important;
}
digi-link-button a {
  display: flex !important;
  width: 90% !important;
  justify-content: center;
  box-sizing: border-box;
}
