.digi-list__list {
    list-style-type: none;
    color: #57A27E;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    a {
        color: #f3f0f1;
        font-weight: bold;
    }
}

.digi-typography a:visited {
    color: #be70d2;
}

li {
    background-color: #393d45;
    padding: 1.5rem;
    width: 100%;
}