@import "../styles/variables";

.sc-digi-logo-h .digi-logo--system-name.sc-digi-logo svg.sc-digi-logo {
  display: none !important;
}

digi-logo {
  width: auto !important;
  height: auto !important;
  display: flex;
  align-items: center;
}

digi-header .digi-button__text,
digi-header-navigation .digi-button__text {
  color: #{$color-third} !important;
  text-decoration: none;
}

.sc-digi-icon-bars-h svg.sc-digi-icon-bars,
.sc-digi-icon-x-h svg.sc-digi-icon-x {
  color: #{$color-third};
}

digi-header .digi-button:hover .digi-button__text,
digi-header-navigation .digi-button:hover .digi-button__text {
  text-decoration: underline;
  color: #{$color-primary} !important;
}

.my-header digi-header .digi-button.sc-digi-button:hover .sc-digi-icon-bars-h svg.sc-digi-icon-bars,
.my-header digi-header-navigation .digi-button.sc-digi-button:hover .sc-digi-icon-x-h svg.sc-digi-icon-x {
  color: #{$color-primary} !important;
}

.my-header digi-header .digi-button.sc-digi-button:hover,
.my-header digi-header-navigation .digi-button.sc-digi-button:hover {
  border: 1px solid #{$color-secondary} !important;
  border-radius: 8px;
  background: transparent !important;
}

.my-header digi-header .digi-button.sc-digi-button,
.my-header digi-header-navigation .digi-button.sc-digi-button {
  background: transparent !important;
  --COLOR--TEXT--DEFAULT: #{$color-third};
  --COLOR--TEXT--ACTIVE: #{$color-third};
  --COLOR--TEXT--HOVER: #{$color-third};
  font-size: 1.3rem;
  border: 1px solid #{$color-secondary};
  border-radius: 8px;
}

.sc-digi-header-h {
  --digi--header--border-color: transparent;
}

@media (max-width: 475px) {
  .sc-digi-button-h .digi-button.sc-digi-button {
    border: none;
  }
}

.sc-digi-header-h img.logo-img {
  width: auto !important;
  height: auto !important;
  max-width: none !important;
}

.sc-digi-header-h img.logo-img {
  width: clamp(120px, calc(175px + (200 * ((100vw - 320px) / (768 - 320)))), 270px) !important;
  height: auto !important;
  display: block;
}
