@import "../styles/variables";

digi-header-navigation {
  --digi--header--border-width: 0;
  --digi--header--border-color: transparent;
  --digi--color--background--neutral-8: #{$color-background};

  a {
    color: #{$color-primary} !important;
  }

  digi-header-navigation-item {
    background: transparent !important;

    a {
      font-weight: bold;
    }

    &--active {
      --digi--header-navigation-item-indicator--active--color: transparent;

      a {
        text-decoration: underline;
        text-decoration-color: #{$color-primary};
        text-underline-offset: 4px;
      }
    }
  }

  .digi-header-navigation-item-indicator {
    display: none !important;
  }

  .sc-digi-header-navigation-item:hover {
    background: none !important;
    background-color: transparent !important;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  .logo-img {
    height: 90px;
    width: auto;
    object-fit: contain;
  }
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 767px) {
  .nav-links {
    font-size: 2rem;
    flex-direction: column;
    align-items: stretch;
    width: 100%;

    a {
      display: block;
      padding: 1rem 1rem;
      --digi--header-navigation-item--font-size: 1.5rem;
      text-align: center;
    }
  }

  .sc-digi-icon-bars-h svg.sc-digi-icon-bars {
    --digi--icon--color: #{$color-third};
  }

  .sc-digi-button-h .digi-button.sc-digi-button-s>[slot^=icon], .sc-digi-button-h .digi-button .sc-digi-button-s>[slot^=icon] {
    --digi--icon--color: #{$color-third};
  }
}
