@import "../styles/variables";

.digi-button__text {
  color: #{$color-secondary} !important;
}

digi-button > button:hover {
  background-color: #{$color-third} !important;
  color: #{$color-third} !important;
}

.pagination {
  .sc-digi-icon-chevron-right-h svg.sc-digi-icon-chevron-right {
  --digi--icon--color: #{$color-background};
  }
  .sc-digi-icon-chevron-left-h svg.sc-digi-icon-chevron-left {
  --digi--icon--color: #{$color-background};
  }
}

.sc-digi-button-h .digi-button--variation-primary.sc-digi-button {
  --digi--button--color--background--primary--default: #{$color-third};
}

.pagination button[aria-current="page"] {
  background-color: $color-third !important;
}

.pagination.sc-digi-button-h .digi-button--variation-primary.sc-digi-button {
  --digi--button--color--background--primary--default: #{$color-primary} !important;
}