@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";
@import "./styles/variables";

body {
  margin: 0;
  padding: 0;
  background-color: #{$color-background};
  color: #{$color-primary};
  font-family: Arial, Helvetica, sans-serif;
}

digi-layout-block {
  --digi--layout-block--background--primary: #{$color-background} !important;
}

digi-typography {
  --digi--typography--color--text: #{$color-primary};
  --digi--color--text--primary: #{$color-primary};
}
