@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";
@import "./styles/variables";

body {
  margin: 0;
  padding: 0;
  background-color: #{$color-background};
  color: #{$color-primary};
  font-family: Arial, Helvetica, sans-serif;
}

digi-layout-block {
  --digi--layout-block--background--primary: #{$color-background} !important;
}

digi-header-navigation {
  --digi--header--border-width: 0;
  --digi--header--border-color: transparent;
  --digi--color--background--neutral-8: #{$color-background};

  a {
    color: #{$color-primary} !important;
  }

  digi-header-navigation-item {
    background: transparent !important;

    a {
      font-weight: bold;
    }

    &--active {
      --digi--header-navigation-item-indicator--active--color: transparent;

      a {
        text-decoration: underline;
        text-decoration-color: #{$color-primary};
        text-underline-offset: 4px;
      }
    }
  }

  .digi-header-navigation-item-indicator {
    display: none !important;
  }

  .sc-digi-header-navigation-item:hover {
    background: none !important;
    background-color: transparent !important;
  }
}

.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  .logo-img {
    height: 90px;
    width: auto;
    object-fit: contain;
  }
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}

digi-typography {
  --digi--typography--color--text: #{$color-primary};
  --digi--color--text--primary: #{$color-primary};
}
